.codeBlockDetails {
  margin: 0 0 var(--ifm-spacing-vertical);
  background-color: var(--ifm-color-secondary-contrast-background);
  border-color: var(--ifm-color-secondary-dark);
}

/* Styles for details title / code block separator */
.codeBlockSummary + div div {
  /* TODO: Consider dark theme */
  border-color: var(--ifm-color-secondary-dark);
}

.codeBlockSummary::before {
  border-color: transparent transparent transparent var(--ifm-color-secondary-dark) !important;
}
