.callouts > ol,
.callouts > ul {
  counter-reset: callout;
}

.callouts > ol > li,
.callouts > ul > li {
  counter-increment: callout;
  position: relative;
  list-style-type: unset;
}

.callouts > ol > li:before,
.callouts > ul > li:before {
  content: counter(callout);
  text-align: center;
  width: 20px;
  height: fit-content;
  border-radius: 50%;
  background-color: var(--ifm-color-secondary-contrast-foreground);
  color: var(--ifm-background-surface-color);
  display: inline-block;
  font-size: 12px;
  line-height: 17px;
  font-family: inherit;
  margin-right: 8px;
  position: absolute;
  left: -25px;
  top: 4px;
}

.callouts > ol > li::marker,
.callouts > ul > li::marker {
  content: '';
}
