:root {
  --docsearch-primary-color: var(--ifm-color-primary);
  --docsearch-text-color: var(--ifm-font-color-base);
}

.DocSearch-Button {
  margin: 0;
  transition: all var(--ifm-transition-fast) var(--ifm-transition-timing-default);
}

.DocSearch-Container {
  z-index: calc(var(--ifm-z-index-fixed) + 1);
}

.DocSearch-Commands {
  display: none;
}
.search-results-footer {
  color: var(--docsearch-muted-color);
  font-size: 0.85em;
}
.search-results-footer a {
  cursor: pointer;
}

@keyframes highlight-search-result {
  from {
    background-color: transparent;
  }
  50% {
    background-color: #fff5c7;
  }
  to {
    background-color: transparent;
  }
}

.highlight-search-result {
  animation-name: highlight-search-result;
  animation-duration: 0.5s;
  animation-iteration-count: 2;
}

.DocSearch-Hit .search-hit-product-label {
  position: absolute;
  bottom: 9px;
  right: 9px;
  color: var(--docsearch-muted-color);
  font-size: 11px;
}
.DocSearch-Hit[aria-selected='true'] .search-hit-product-label {
  color: white;
}
