:root {
  --docsearch-primary-color: var(--ifm-color-primary);
  --docsearch-text-color: var(--ifm-font-color-base);
}

.DocSearch-Button {
  margin: 0;
  transition: all var(--ifm-transition-fast) var(--ifm-transition-timing-default);
}

.DocSearch-Container {
  z-index: calc(var(--ifm-z-index-fixed) + 1);
}

.DocSearch-Commands {
  display: none;
}
.search-results-footer {
  color: var(--docsearch-muted-color);
  font-size: 0.85em;
}
.search-results-footer a {
  cursor: pointer;
}

@keyframes highlight-search-result {
  from {
    background-color: transparent;
  }
  50% {
    background-color: #fff5c7;
  }
  to {
    background-color: transparent;
  }
}

.highlight-search-result {
  animation-name: highlight-search-result;
  animation-duration: 0.5s;
  animation-iteration-count: 2;
}

.DocSearch-Hit .search-hit-product-label {
  position: absolute;
  bottom: 9px;
  right: 9px;
  color: var(--ifm-color-content-secondary);
  font-size: 11px;
}
.DocSearch-Form {
  box-shadow: inset 0 0 0 2px #dcdde0;
  transition: all;
  transition-duration: 300ms;
}
.DocSearch-Form:hover {
  box-shadow: inset 0 0 0 1px var(--docsearch-muted-color);
}
.DocSearch-Input::placeholder {
  color: var(--ifm-color-content-secondary);
}
.DocSearch-Search-Icon {
  color: var(--ifm-color-content-secondary);
}
.DocSearch-Hit[aria-selected=true] a {
  background-color: #dcdde0;
}
:root {
  --docsearch-hit-active-color: var(--ifm-font-color-base);
}
.DocSearch-Hit[aria-selected=true] mark {
  color: var(--docsearch-highlight-color)!important;
}
.DocSearch-Hit-source {
  color: var(--ifm-font-color-base);
}
.DocSearch-Hit[aria-selected=true] .DocSearch-Hit-path,
.DocSearch-Hit-path {
  color: var(--ifm-color-content-secondary)!important;
}

.DocSearch-SearchBar {
  flex-direction: column;
  gap: 4px
}

.DocSearch-Modal {
  background-color: var(--chakra-colors-tigeraGrey-100);
}