.swagger-ui pre {
    /* override bootstrap defaults */
    display: inherit;
    line-height: inherit;
    word-break: inherit;
    background-color: inherit;
    border: inherit;
    border-radius: inherit;
}
