/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import url('fonts.css');

/* You can override the default Infima variables here and define our custom global variables. */
:root {
  --ifm-color-primary: #f69320;
  --ifm-color-primary-dark: #f37828;
  --ifm-color-primary-darker: #f37828;
  --ifm-color-primary-darkest: #f37828;
  --ifm-color-primary-light: #fbd4a6;
  --ifm-color-primary-lighter: #fce181;
  --ifm-color-primary-lightest: #fce181;
  --ifm-code-font-size: 95%;
  --ifm-link-color: #f69320;
  --ifm-link-hover-color: #f69320;
  --ifm-menu-color-active: #f69320;
  --ifm-heading-font-family: Poppins;
  --ifm-font-family-base: Poppins;

  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --color-primary-alternative: #1084bd;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  /* --ifm-color-primary: #2596be;
  --ifm-color-primary-dark: #2286aa;
  --ifm-color-primary-darker: #1d7595;
  --ifm-color-primary-darkest: #196480;
  --ifm-color-primary-light: #2aa7d5;
  --ifm-color-primary-lighter: #3fb0d9;
  --ifm-color-primary-lightest: #55b9dd; */
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/* TODO: Remove before the release (https://tigera.atlassian.net/browse/DOCS-1078). */
.docs-partial {
  border: solid red 2px;
}

/* Overrides for site-wide elements */

ol ol {
  list-style-type: lower-alpha;
}

img {
  width: auto;
}

.tabs-container {
  border-left: 3px solid var(--ifm-color-primary-light);
  padding-left: 0.75rem;
}

/* Overrides for the logo in the header */

.logo-wrapper {
  display: flex;
  align-items: center;
}

.logo-wrapper::after {
  transform: none !important;
  left: -8px;
  font-size: 16px;
}

.logo-wrapper .navbar__brand {
  display: flex;
  align-items: center;
  margin-right: 0;
}

.navbar__item:has(.logo-wrapper) {
  display: block;
}

.navbar-sidebar__brand .navbar__item {
  display: block;
  padding-left: 0;
}

/* Overrides for the header */

.dropdown-separator {
  margin: 10px 0;
}

.header-icon-link:hover {
  opacity: 0.6;
}

.header-icon-link::before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
}

.navbar__link::after {
  font-size: 0.75rem;
  top: 1px !important;
}

.navbar__items {
  font-size: 0.875rem;
}

/* Overrides for the banner on the landing page */

.hero {
  background-color: var(--color-primary-alternative);
}

.hero__subtitle {
  font-size: 1.25rem;
  font-weight: 500;
}

/* Overrides for the footer */

.footer__title {
  font-size: 1.25rem;
}

.footer__item {
  font-weight: 500;
}

.footer__copyright {
  font-size: 0.625rem;
  font-weight: 500;
}

.footer-social-icon {
  display: inline-block;
  padding: 0px 4px;
  margin-top: 12px;
}

.footer-social-icon::before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
}

/* Overrides for the side-nav menu */

.menu {
  font-weight: 400;
  font-size: 0.875rem;
}

.menu__list:not(:first-child) {
  margin-top: 2px;
}

.menu__list-item:not(:first-child) {
  margin-top: 2px;
}

.menu > .menu__list .menu__list {
  border-left: 1px solid var(--ifm-color-gray-400);
  margin-left: 15px;
}

.menu__caret:before {
  background: var(--ifm-menu-link-sublist-icon) 50% / 1.5rem 1.5rem;
}

/* Overrides and styles for the specific icons */

.github-icon::before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

[data-theme='dark'] .github-icon::before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

.linkedin-icon::before {
  background: url('/img/brands/linkedin-in.svg') no-repeat;
}

.twitter-icon::before {
  background: url('/img/brands/twitter.svg') no-repeat;
}

.youtube-icon::before {
  background: url('/img/brands/youtube.svg') no-repeat;
}

.slack-icon::before {
  background: url('/img/brands/slack.svg') no-repeat;
}

.linkedin-icon:hover,
.twitter-icon:hover,
.youtube-icon:hover,
.slack-icon:hover {
  opacity: 0.6;
}

th {
  text-align: left;
}
