.markdown {
  a[href^='http'] {
    &::after {
      position: relative;
      top: 1px;
      display: inline-block;
      height: 16px;
      width: 16px;
      margin-left: 4px;
      background-color: currentColor;
      -webkit-mask-image: url('/img/icons/open-new-window.svg');
      mask-image: url('/img/icons/open-new-window.svg');
      mask-repeat: no-repeat;
      content: '';
    }
  }
}
