.markdown {
  a[href^="http"] {
    &::after {
      position: relative;
      top: 1px;
      font-size: 13px;
      padding-left: 4px;
      display: inline-block;
      font-family: "Glyphicons Halflings";
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

      content: "\e164";
    }
  }
}
